NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://hk2493200_db_user:Hira2006@cluster0.0hc3lfr.mongodb.net/task-management?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
